@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
    @apply btn bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-slate-50;
  }


  .drawer-side a.active {
    color: orange;
    font-size: medium;
   
  }
  .drawer-side a {
  background-color: transparent;
  color: black;
  margin-bottom: 8px;
   
  }
